li {
    display:flex; 
    align-items:center; 
    margin:8px 0; 
    border-radius: 6px;
    background: #e0e0e0;
    box-shadow:  5px 5px 13px #848484,
    -5px -5px 13px #ffffff;
    padding-bottom: 4px;
    background-color: white;
    padding: 8px 28px;
}
.myLink{
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    height: 30px;
    width: 100%;
    padding: 0 8px;
    border-radius: 3px;
    border: 1px solid rgb(228, 228, 228);
    background-color: #1a73e8;
    color: white;
    font-size: 15px;
}
.myLink:hover {background-color: #328bff;}
p {
    text-align: center;
    color: #581111;
    margin: 0;
    font-size: medium;
    font-weight: 500;
}
